<div id="footer" class="site-footer mt-5">
	<div class="mt-3">
		<div class="row d-flex">

			<div class="col-sm-6">
				<p class="font-weight-bold">Links</p>

				<ul class="list-unstyled list-inline">
					<!-- <li class="list-inline-item">
						<a href="https://institut-curie.org/">
							<img class="img-fluid" src="/assets/images/curie.png" style="max-height: 40px;">
						</a>
					</li> -->

					<li class="list-inline-item">
						<a href="https://english.iop.cas.cn/", target="_blank">IOP-CAS</a>
					</li>
					
					<li class="list-inline-item">
						<a href="https://www.iop.cas.cn/", target="_blank">中国科学院物理研究所</a>
					</li>
					<!--<li class="list-inline-item">
						<a href="https://www.iop.cas.cn/">
							<img class="img-fluid" src="/assets/images/CAS.png" style="max-height: 40px;">
						</a>
					</li> -->

					
				</ul>

			</div>

			


			<div class="col-sm-3">
				<p class="font-weight-bold">Contact</p>

				Institut of Physics, Chinese Academy of Sciences<br>
				Beijing 100190, China <br>
			</div>
		</div>

		<div class="footer-copyright text-center py-3">
			© 2024 {{ site.author }}
		</div>
	</div>
</div>
