<li class="media mb-5">
  <img class="align-self-center mr-3"
       src="{{ '/assets/images/team/' | relative_url }}{{ member.image }}"
       style="max-width: 100px; border-radius: 50%;"
       alt="{{ member.title }}">

  <div class="media-body">
    <h5 class="mt-0">
      {% if member.external_url %}
        <a href="{{ member.external_url }}" target="_blank" rel="noopener">
          {{ member.title }}
        </a>
      {% else %}
        <span class="member-name">
          {{ member.title }}
        </span>
      {% endif %}
    </h5>

    {% if member.role and member.role != "" %}
      <p>{{ member.role }}</p>
    {% endif %}

    {% if member.email and member.email != "" %}
      <p>{{ member.email }}</p>
    {% endif %}

    {% if member.education and member.education != "" %}
      <p>{{ member.education }}</p>
    {% endif %}

    {%- include team_member_social.html -%}
  </div>
</li>
